@model IEnumerable<Category>

<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
    <ul class="nav navbar-nav nav_1">
        @foreach (var category in Model)
        {
            <li><a href="products.html">@category.CName</a></li>
        }


    </ul>
</div>
